* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 3fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.sidebar {
    grid-column: 1;
    background-color: salmon;
}

.form-container {
    margin: 16px;
}

.book-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: bold;
}

.library {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    align-items: flex-start;
}

.book-card {
    width: 16vw;
    aspect-ratio: 1 / 1;
    border: solid black 2px;
    border-radius: 8px;
    padding: 8px;
}

.book-title {
    font-weight: bold;
    font-size: 24px;
}

.book-author {
    font-weight: bold;
    margin-bottom: 8px;
}

